################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetCoreMVC/.vs/AspNetCoreMVC/v16
